@import '../../styles/variables.scss';

.mini-player {
  background-color: $background-color;
  width: 380px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: lighten($color: $background-color, $amount: 7);
  }

  &__progress-bar {
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__album-logo {
    margin-right: 12px;
    img {
      width: 67px;
      height: 67px;
    }
  }

  &__credits {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__name {
    text-align: center;
    margin-bottom: 5px;
    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: darken($color: $main-color, $amount: 7);
    }

    &:active {
      color: darken($color: $main-color, $amount: 17);
    }
  }

  &__artist {
    color: $secondary-color;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: lighten($color: $secondary-color, $amount: 15);
    }

    &:active {
      color: lighten($color: $secondary-color, $amount: 20);
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      svg {
        path {
          fill: $main-color;
        }
      }
    }
  }
}
