@import '../../styles/variables.scss';

.search {
  transition: $transition;
  border-radius: 30px;

  &__field {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 1px solid #fff;

    input {
      width: 200px;
      outline: none;
      border: none;
      color: #ffffff;
      background-color: transparent;
      padding-left: 15px;

      &::placeholder {
        color: #fff;
        opacity: 0.6;
      }
    }
  }

  &__btn {
    border: 1px solid transparent;
  }
}
