.current-song {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__progress-bar {
    // TODO: check styles for different browsers
  }

  &__main {
    display: flex;
    flex-direction: row;
  }

  &__album-logo {
    img {
      width: 67px;
      height: 67px;
    }
  }

  &__credits {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $main-color;
    font-size: 18px;
    line-height: 21px;
  }

  &__artist {
    color: $secondary-color;
    font-size: 10px;
    line-height: 12px;
  }

  &__control-panel {
    display: flex;
    flex-direction: row;
  }

  &__prev-button {
  }

  &__play-button {
  }

  &__next-button {
  }
}
