@import './styles/variables.scss';

body {
  background-color: $background-color;
  color: $main-color;
  font-family: $font-roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
