@import './styles/variables.scss';

body {
  font-family: $font-roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  height: 7px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #101f44; /* color of the tracking area */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c5288; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
